body {
    background-image: linear-gradient(to left, #65e0e0, #309adb);
    color: black;
    font-family: Monaco;
}

.list-movies-title {
    position: sticky;
    top: 0;
    padding: 10px 0;
    background: #1a6e13;
    background-image: linear-gradient(to left, #269426, #1a6e13);
    border-style:solid;
    border-width: 2px;
    border-color: #010301;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 18pt;
    font-style: oblique;
}

.flags {
    background: #64d0e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-flag {
    margin: 4px;
}

.image-container {
    position: relative; /* Container für die absolute Positionierung */
}

.movie-grid {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-grid li {
    padding: 10px 15px;
    text-align: left;
}

.movie {
    width: 140px;
    border-style:solid;
    border-radius: 5px;
    border-width: 2px;
    transition: transform 0.3s ease
}

.movie-title,
.movie-year {
    text-decoration: none;
    background: #64d0e8;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
}

.movie-title {
    color: #040b12;
    font-size: 1.1em;
}

.movie-year {
    color: #081708;
}


.movie-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 140px;
    height: 193px;
}

.tooltip {
    position: absolute;
    visibility: invisible;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-3px);
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s;
}

.image-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.movie:hover {
    transform: scale(1.1);
}


@media (max-width: 576px) {

.list-movies-title {
    max-height: 40%;
    height:auto;
}

.movie-grid {
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

}